{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{{block.super}}

<div class='content'>
    <div class="container ">
        <h1> Review awesome pictures in landscape, work, and love </h1>
    </div>


    {% comment %} {% for photo of image | get_item:image%} {% endcomment %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Name:{{photo.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Location: {{photo.location}} </h6>
                    <p class="card-text">Description: {{photo.description}} </p>
                    <a href="#" class="card-link">Date:{{photo.post_date}}</a>
                    <a href="#" class="card-link">Category:{{photo.category}}</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} {% endfor %} {% endcomment %}

    {% if categories %}
    <h3>Here are some other categories you can check out:</h3>
    {% for category in categories %}
    <a href="/category/{{category.id}}"  style="margin-left: 1%;">#{{category.name}}</a>
    {% endfor %}
    {% endif %}
    {% if locations %}
    <h3>Here are some other locations you can check out:</h3>
    {% for location in locations %}
    <a href="/location/{{location.id}}" style="margin-left: 1%;">{{location.name}}</a>
    {% endfor %}
    {% endif %} {% endcomment %}

    <div class='footer'>
        <p> 2022 Copyright: <a href="https://github.com/silvianjoki" target="_blank">Silvia</a></p>
    </div>
<div>

{% endblock %}







