{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

<div class="container-fluid" style="height:600px">

    <div class="row">
        {% if image%}
        {% else %}
        <h2> Arrgh we couldn't find the{{message}} Category</h2>
        </h2>
        {% endif %}
    </div>

    <div class="row">
        {% if image %}
        {% for image in image %}
        <div class="col-sm-4">
            <img src="{{img.image_pic.url}}" class="card" style="width: 400px; height: 290px;">
            {{img.description}}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {% comment %} {% if categories %}
    <h3>Here are some other categories you can check out:</h3>
    {% for category in categories %}
    <a href="/category/{{category.id}}"  style="margin-left: 1%;">#{{category.name}}</a>
    {% endfor %}
    {% endif %}
    {% if locations %}
    <h3>Here are some other locations you can check out:</h3>
    {% for location in locations %}
    <a href="/location/{{location.id}}" style="margin-left: 1%;">{{location.name}}</a>
    {% endfor %}
    {% endif %} {% endcomment %}

</div>


{% endblock %}