{%extends 'base.html'%}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

<div class="container-fluid" style="height:600px">

    <div class="row">
        {% if image%}
        
        {% else %}
        <h2> Arrgh we couldn't find the{{message}} Category</h2>
        </h2>
        {% endif %}
    </div>

    <div class="row">
        {% if image %}
        {% for image in images %}
        <div class="col-sm-4">
            <div class="card" style="width: 21rem;">
                <img src="{{image.image_picture.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{image.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Location: {{image.location}} </h6>
                    <p class="card-text"> {{image.description}} </p>
                    <p class="card-text">Date: {{image.post_date}} </p>
                    <p class="card-text">Category: {{image.category}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% comment %} {% if categories %}
{% for category in categories %}
<a href="/category/{{category.id}}"  style="margin-left: 1%;">#{{category.name}}</a>
{% endfor %}
{% endif %}
{% if locations %}
<h3>Here are some other locations you can check out:</h3>
{% for location in locations %}
<a href="/location/{{location.id}}" style="margin-left: 1%;">{{location.name}}</a>
{% endfor %}
{% endif %}  {% endcomment %}